#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #566675;
    font-weight: 700;
    width: 100%;
}

body {
    background-color: black;
}

h3 {
    margin: 40px 0 0;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: inline-block;
    margin: 0 10px;
}

a {
    color: #adb942;
}

.acknowledgeBtn{
    border: none;
    background-color: rgb(185, 185, 185);
    border-radius: 5px;
    font-family:  Arial, sans-serif;
    font-weight: 600;
    margin: 30px;
}

.acknowledgeBtn:hover{
    background-color: gray;
}

.logo {
    height: 30vh;
    margin: 30px;
}

.productRow {
    background-color: rgba(0, 0, 0, .8);
    width: 100%;
    margin: 30px 0;
}

.menuLogo {
    width: 25px;
}

.disclaimer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #adb942;
    height: 100vh;
}

.topRightDiamond{    
    width: 50%;
    padding-bottom: 50%;
    right: -25%;
    top: -10%;
    transform: rotate(45deg);
    background-color: rgb(173, 152, 28);
    position: fixed;
    z-index: -1;
}

.topLeftDiamond{
    width: 50%;
    padding-bottom: 50%;
    left: -25%;
    top: 20%;
    transform: rotate(45deg);
    background-color: rgb(173, 152, 28);
    position: fixed;
    z-index: -1;
}

.botRightDiamond{    
    width: 50%;
    padding-bottom: 50%;
    right: -25%;
    bottom: 20%;
    transform: rotate(45deg);
    background-color: rgb(173, 152, 28);
    position: fixed;
    z-index: -1;
}

.botLeftDiamond{
    width: 50%;
    padding-bottom: 50%;
    left: -25%;
    bottom: -10%;
    transform: rotate(45deg);
    background-color: rgb(173, 152, 28);
    position: fixed;
    z-index: -1;
}

